.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 2em;
  border-radius: 1em;
  max-width: 90vw;
  max-height: 90vh;
  overflow-y: auto;
  position: relative;
}

.close-modal {
  position: absolute;
  top: 1em;
  right: 1em;
  font-size: 1.5em;
  background: none;
  border: none;
  cursor: pointer;
}

.open-feedback-btn {
  padding: 1em 2em;
  border-radius: 2em;
  border: 2px solid rgba(0, 86, 210, 1);
  background: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.open-feedback-btn:hover {
  background-color: #ece9fd;
}
