.presentation {
  background: url("./камеры.jpg") no-repeat;
  width: 100%;
  min-height: 91vh;
  background-size: auto;
  background-position: center -200px;
  background-blend-mode: multiply;
  background-color: #bcbcbc;
}

.text-and-buttons {
  padding: 30vh 20vw;
  color: #fff;
}

.text-and-buttons .title {
  font-size: 3.1em;
  font-weight: 600;
}

.subtitle {
  font-size: 1.1em;
  color: #ccc;
  font-weight: 500;
}

.btn-feedback {
  color: #fff;
  padding: 1.5vh 1.5vw;
  border-radius: 100px;
  transition: 300ms;
  font-weight: 500;
  font-size: 1em;
  border: none;
  border: 2px solid #ccc;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
}

.btn-feedback:hover {
  opacity: 0.7;
}
